/* 
    Document   : custom
    Created on : 2011-5-23, 21:53:18
    Author     : cncore
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.header {
    padding-top: 50px;
    padding-bottom: 15px;
    text-align: center;
}

.header div {
    font-size: 20px;
}
.header div a {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.text_center {
    text-align: center;
}
.text_middle {
    vertical-align: middle;
}