<{config_load file="var.conf"}>
<{include file="header.html"}>

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
          <h1>站点开发中、、、</h1>
        <br/>
        <br/>
        <p><a class="btn btn-primary btn-large">请定期关注</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <div class="icon-list-alt pull-left margin-top-8"></div>
          <h2>DB示例</h2>
           <p></p>
            <ul>
                <li>序号:<{$userinfo.id}></li>
                <li>用户名:<{$userinfo.username}></li>
                <li>密码:<{$userinfo.userpass}></li>
            </ul>
        </div>
        <div class="span4">
          <div class="icon-user pull-left margin-top-8"></div>
          <h2>关于我们</h2>
           <p>it's intresting!</p>
       </div>
        <div class="span4">
            <div class="icon-envelope pull-left margin-top-8"></div>
            <h2>联系方式</h2>
          <p>
            QQ:<{#qq#}><br/>
            Email:<{#email#}>
          </p>
        </div>
      </div>

<{include file="footer.html"}>