
      <hr>

      <footer class="pull-right">
        <p>&copy; CN.CORE 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="<{#template_dir#}>/js/jquery.js"></script>
    <script src="<{#template_dir#}>/js/bootstrap-transition.js"></script>
    <script src="<{#template_dir#}>/js/bootstrap-alert.js"></script>
    <script src="<{#template_dir#}>/js/bootstrap-modal.js"></script>
    <script src="<{#template_dir#}>/js/bootstrap-dropdown.js"></script>
    <script src="<{#template_dir#}>/js/bootstrap-scrollspy.js"></script>
    <script src="<{#template_dir#}>/js/bootstrap-tab.js"></script>
    <script src="<{#template_dir#}>/js/bootstrap-tooltip.js"></script>
    <script src="<{#template_dir#}>/js/bootstrap-popover.js"></script>
    <script src="<{#template_dir#}>/js/bootstrap-button.js"></script>
    <script src="<{#template_dir#}>/js/bootstrap-collapse.js"></script>
    <script src="<{#template_dir#}>/js/bootstrap-carousel.js"></script>
    <script src="<{#template_dir#}>/js/bootstrap-typeahead.js"></script>
    
    <div class="hidden">
        <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5f845be2f0289844655f824babb99739' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>

  </body>
</html>