<{config_load file="var.conf"}>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>CN·CORE-->我们一直在努力!</title>

	<meta name="keywords" content="cncore" />
	<meta name="description" content="新科锐项目展示、合作站点！" />
	<meta name="author" content="chentao" />

    <link rel="icon" href="<{#template_dir#}>/image/atatonic-avatar.html" type="image/x-icon" />
	<link rel="shortcut icon" href="<{#template_dir#}>/image/atatonic-avatar.html" type="image/x-icon" />
	
	<link href="<{#template_dir#}>/css/at-base.css" type="text/css" media="all" rel="stylesheet" />
	<link href="<{#template_dir#}>/css/at-type.css" type="text/css" media="all" rel="stylesheet" />
	<link href="<{#template_dir#}>/css/at-forms.css" type="text/css" media="all" rel="stylesheet" />
	<link href="<{#template_dir#}>/css/at-print.css" type="text/css" media="print" rel="stylesheet" />
    
    <link href="<{#template_dir#}>/css/custom.css" type="text/css" media="all" rel="stylesheet" />
	
	<!--[if IE]>
	<link href="<{#template_dir#}>/css/at-ie.css" type="text/css" media="screen" rel="stylesheet" />
	<![endif]-->

	<style type="text/css">
		body {
			background: #fff url(<{#template_dir#}>/images/gridbg.gif);
		}
		
		#sidebar {
			font-size: 11px;
		}
		
		p.intro { 
			font-style: bold;
		} 
		
		.content .padding {
			padding: 0 100px 0 0;
		}
		
		.item .padding {
			padding: 0 12px 0 0;
		}
		
		.list-item h2 {
			margin: 0;
			line-height: 36px;
		}
		
		blockquote p {
			margin: 0;
		}

		fieldset {
			padding: 0 9px 9px
		}
		
		.at-wrapper {
			margin: 18px auto 0;
		}
		
	</style>

</head>
<body>
    <div class="at-wrapper">
        <div class="at-wrapper header">
            <h1>CN·CORE</h1>
            <br/>
            我们一直在努力！
            <hr class=""/>
            <div class=" text_center "><a href="index.php">首页</a>|<a>项目</a>|<a>下载</a>|<a>加入我们</a>|<a>捐赠</a>|<a>近期更新</a></div>
            <br/>
            <hr class=""/>
        </div>
    </div>